.task-nav-container {
    color: red;
}

nav {
    background-color: #323232;
    width: 15vw;
    height: 20vh;
}

.task-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.task-nav li {
    padding-left: 30px;
    margin-top: 15px;
}

.task-nav li a {
    text-decoration: none;
    color: #FFFFFF;
}

.special-li {
    background-color: #CBE068;
    padding: 10px;
}

.new-task {
    color: #555555!important; 
}